Checks:          "clang-diagnostic-*,\
                  clang-analyzer-*,\
                  modernize-*,\
                  performance-*,\
                  readability-*,\
                  bugprone-*,\
                  fuchsia-*,\
                  cppcoreguidelines-*,\
                  -modernize-use-trailing-return-type,\
                  -cppcoreguidelines-pro-type-vararg,\
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
                  -bugprone-suspicious-include,\
                  -fuchsia-default-arguments-calls,\
                  -fuchsia-overloaded-operator,\
                  -readability-function-cognitive-complexity"
WarningsAsErrors: "*"
HeaderFilterRegex: '.hpp'
